<div class="col-md-12">
    <h2 class="form-login-heading">Login</h2>
    <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="loginVM.UserName" required autofocus>
    <input type="password" class="form-control m-t-sm" placeholder="Password" [(ngModel)]="loginVM.Password" required>
    <button class="btn btn-md btn-info btn-block m-t-sm loginbutton" type="submit" (click)="Login()">Login</button>
    <div [hidden]="ProcessInfo.Message == ''" class="alert alert-danger">
        {{ProcessInfo.Message}}
    </div>
    <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="loginCtrl.AuthExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
    <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="loginCtrl.AuthExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
</div>